@font-face {
    font-family: 'HomePageFont';
    src: local('HomePageFont'), url('../../Fonts/Lato-Light.ttf') format('truetype');
}
.container{
    background-color: black;
}
.poster-header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    height: 95%;
}
.sline{
    fill:none; 
    stroke:rgb(255,255,255);
    stroke-width:1;
}
.sline-container{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
}
.intro-para{
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 370px;
    font-size: 8px;
    color: whitesmoke;
}
.login-link{
    z-index: 2;
    position: absolute;
    left: 49%;
    bottom: 5%;
    font-size: 20px;
    color: whitesmoke;
    font-family: HomePageFont;
    border-bottom: 1px solid;
    text-decoration: none;
}