
$text-black: #181831;

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  color: $text-black;

  @media (max-width: 575.98px) {
    font-size: 22px;
    line-height: 44px;
  }
}

.text {
  font-size: 18px;
  line-height: 36px;
  color: $text-black;

  @media (max-width: 575.98px) {
    font-size: 17px;
    line-height: 34px;
  }
}

.link {
  font-size: 18px;
  line-height: 36px;
}

.vcenter {
  display: grid;
  align-items: center;
  padding: 20px 20px;
}
