
$nav-height: 56px;
$nav-width: 50px;
$bg-color: #f8f9fa;
$border-color: #dee2e6;
$text-black: #181831;

.wrapper {
  width: $nav-width;
  height: 100vh;
  display: contents;
}

.sidebar {
  display: block;
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 1;
  color: gray;
  transition: all 0.3s;
  padding-top: 1%;
  text-decoration: none;
  text-orientation: mixed;
  writing-mode: vertical-lr;

  a:hover {
    color: $text-black;
  }

  .sidebarItem {
    padding-left: 30px;
    padding-bottom: 40px;
    text-decoration: none;
    color: gray;
  }

  .smInfo {
    display: none;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
    height: auto;
    position: relative;
    text-decoration: none;
    text-orientation: mixed;
    text-align: center;
    writing-mode: initial;
    padding-top: 3%;
    padding-right: 0px;

    .sidebarItem {
      text-decoration: none;
      color: gray;
      padding-left: 0px;
      padding-bottom: 0px;
    }

    .smInfo {
      display: inline-block;
      text-decoration: none;
      color: gray;
      padding-left: 0px;
      padding-bottom: 0px;
      cursor: pointer;

      &:hover {
        color: $text-black;
      }

      .triangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0px 4px;
        border-color: $text-black transparent transparent transparent;
        margin-left: 3px;
        margin-bottom: 2px;
      }

      .smLogout {
        padding-top: 5px;
        position: fixed;
        color: gray;

        &:hover {
          color: $text-black;
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    display: none;
  }
}

.sidebarHash {
  display: block;
  position: fixed;
  bottom: 15%;
  z-index: 2;

  @media (max-width: 767.98px) {
    display: none;
  }
  
  .hashLink {
    font-size: 8px;
    text-decoration: none;
    color: lightgrey;
    writing-mode: initial;
    padding-bottom: 2px;
    transition: font-size 0.25s ease-out;

    &:hover {
      font-size: 20px;
      color: $text-black;
      text-decoration: none;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5%;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-out;
  z-index: 2;

  &:hover {
    font-size: 18px;

    .triangle {
      border-width: 4.5px 0 4.5px 9px;
    }
  }

  @media (max-width: 767.98px) {
    display: none;
  }

  .triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $text-black;
    margin-right: 10px;
    margin-top: 3px;
  }

  .logout {
    display: inline-block;
    color: gray;

    &:hover {
      color: $text-black;
    }
  }
}

.navbar {
  display: none;

  @media (max-width: 575.98px) {
    display: block;
    height: $nav-height;
    border-bottom: 1px solid $border-color;
    background-color: $bg-color;

    .navbarCollapse {
      display: block;
      background-color: $bg-color;
      border-bottom: 1px solid $border-color;
      z-index: 10;
      position: absolute;
      top: $nav-height;
      left: 0;
      padding: 0px 1.5rem;
      width: 100%;

      .navbarNav {
        line-height: $nav-height;
      }
    }
  }
}

.dropdownItem {
  line-height: 32px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
}
