.backgroundVideo {
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  left: 0;

  @media (max-width: 575.98px) {
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: absolute;
    width: 100vh;
    height: 100vw;
    margin-top: -100vw;
    object-fit: cover;
  }

  video {
    height: 100vh;
  }
}